In [2]:
import pandas as pd
import numpy as pn

In [3]:
teachers = ['coop', 'defect', 'tit1', 'tit0', 'saspic']

In [104]:
result_list = []
for index, t1 in enumerate(teachers):
    temp_list=[]
    for index2, t2 in enumerate(teachers):

        if t1=='coop' and t2=='coop':
            temp_list.append('C, C')
        if t1=='coop' and t2=='defect':
            temp_list.append('C, D')
        if t1=='coop' and t2=='tit1':
            if index != 0:
                if result_list[index-1][index2][0] == 'D':
                    temp_list.append('D, D')
                else:
                    temp_list.append('D, C')
        if t1=='coop' and t2=='tit0':
            if index != 0:
                if result_list[index-1][index2][0] == 'D':
                    temp_list.append('D, D')
                else:
                    temp_list.append('D, C')
        if t1=='coop' and t2=='saspic':
            if index >= 1:
                if result_list[index-1][index2][0] == 'D' and result_list[index-2][index2][0] == 'D':
                    temp_list.append('D, D')
                else:
                    temp_list.append('D, C')
        
        if t1=='defect' and t2=='coop':
            temp_list.append('D, C')
        if t1=='defect' and t2=='defect':
            temp_list.append('D, D')
        if t1=='defect' and t2=='tit1':
            if index != 0:
                if result_list[index-1][index2][0] == 'D':
                    temp_list.append('D, D')
                else:
                    temp_list.append('D, C')
        if t1=='defect' and t2=='tit0':
            if index != 0:
                if result_list[index-1][index2][0] == 'D':
                    temp_list.append('D, D')
                else:
                    temp_list.append('D, C')
        if t1=='defect' and t2=='saspic':
            if index >= 1:
                if result_list[index-1][index2][0] == 'D' and result_list[index-2][index2][0] == 'D':
                    temp_list.append('D, D')
                else:
                    temp_list.append('D, C')
                    
        if len(temp_list)==0:
            if t1=='tit1' and t2=='coop':
                temp_list.append('C, C')
            if t1=='tit1' and t2=='defect':
                temp_list.append('C, D')
            if t1=='tit1' and t2=='tit1':
                if index != 0:
                    if result_list[index-1][index2][0] == 'D':
                        temp_list.append('C, D')
                    else:
                        temp_list.append('C, C')
            if t1=='tit1' and t2=='tit0':
                if index != 0:
                    if result_list[index-1][index2][0] == 'D':
                        temp_list.append('C, D')
                    else:
                        temp_list.append('C, C')
            if t1=='tit1' and t2=='saspic':
                if index >= 1:
                    if result_list[index-1][index2][0] == 'D' and result_list[index-2][index2][0] == 'D':
                        temp_list.append('C, D')
                    else:
                        temp_list.append('C, C')
        else:
            if temp_list[index2-1][1] == 'D':
                if t1=='tit1' and t2=='coop':
                    temp_list.append('D, C')
                if t1=='tit1' and t2=='defect':
                    temp_list.append('D, D')
                if t1=='tit1' and t2=='tit1':
                    if index != 0:
                        if result_list[index-1][index2][0] == 'D':
                            temp_list.append('D, D')
                        else:
                            temp_list.append('D, C')
                if t1=='tit1' and t2=='tit0':
                    if index != 0:
                        if result_list[index-1][index2][0] == 'D':
                            temp_list.append('D, D')
                        else:
                            temp_list.append('D, C')
                if t1=='tit1' and t2=='saspic':
                    if index >= 1:
                        if result_list[index-1][index2][0] == 'D' and result_list[index-2][index2][0] == 'D':
                            temp_list.append('D, D')
                        else:
                            temp_list.append('D, C')

        # print(result_list[index])    
    result_list.append(temp_list)

IndexError: list index out of range

In [103]:
result_list

[['C, C', 'C, D', 'C, C', 'C, D', 'C, D'],
 ['D, C', 'D, D', 'D, C', 'D, C', 'D, C'],
 [],
 [],
 []]

In [97]:
print(result_list[1-1][2][0])

C

In [6]:
df = pd.DataFrame(columns=teachers, index=teachers)

In [7]:
df

       coop defect tit1 tit0 saspic
coop    NaN    NaN  NaN  NaN    NaN
defect  NaN    NaN  NaN  NaN    NaN
tit1    NaN    NaN  NaN  NaN    NaN
tit0    NaN    NaN  NaN  NaN    NaN
saspic  NaN    NaN  NaN  NaN    NaN

In [38]:
for index, row in df.iterrows():
    print(index, df.loc[str(index)][0], row.name)

coop nan coop
defect nan defect
tit1 nan tit1
tit0 nan tit0
saspic nan saspic

In [39]:
df.loc['coop']['coop']

nan

In [60]:
for index1, row in df.iterrows():
    for index2, row in df.iterrows():
        
        if index1=='coop' and row.name=='coop':
            df.loc[str(index)][str(row.name)] = 'CC'
        if index1=='coop' and row.name=='defect':
            df.loc[str(index)][str(row.name)] = 'CD'
        if index1=='coop' and row.name=='tit1':
            df.loc[str(index)][str(row.name)] = 'CC'
        if index1=='coop' and row.name=='tit0':
            df.loc[str(index)][str(row.name)] = 'CD'
        if index1=='coop' and row.name=='saspic':
            df.loc[str(index)][str(row.name)] = 'CD'
            
        if index1=='defect' and row.name=='coop':
            df.loc[str(index)][str(row.name)] = 'DC'
        if index1=='defect' and row.name=='defect':
            df.loc[str(index)][str(row.name)] = 'DD'
        if index1=='defect' and row.name=='tit1':
            df.loc[str(index)][str(row.name)] = 'DC'
        if index1=='defect' and row.name=='tit0':
            df.loc[str(index)][str(row.name)] = 'DD'
        if index1=='defect' and row.name=='saspic':
            df.loc[str(index)][str(row.name)] = 'DD'

df

       coop defect tit1 tit0 saspic
coop     DC     DD   DC   DD     DD
defect  NaN    NaN  NaN  NaN    NaN
tit1    NaN    NaN  NaN  NaN    NaN
tit0    NaN    NaN  NaN  NaN    NaN
saspic  NaN    NaN  NaN  NaN    NaN

In [58]:
df

       coop defect tit1 tit0 saspic
coop     CC     CD   CC   CD     CD
defect  NaN    NaN  NaN  NaN    NaN
tit1    NaN    NaN  NaN  NaN    NaN
tit0    NaN    NaN  NaN  NaN    NaN
saspic  NaN    NaN  NaN  NaN    NaN

In [56]:
for index1, row in df.iterrows():
    for index2, row in df.iterrows():
        print('index', index1)
        print('row', row.name)

index coop
row coop
index coop
row defect
index coop
row tit1
index coop
row tit0
index coop
row saspic
index defect
row coop
index defect
row defect
index defect
row tit1
index defect
row tit0
index defect
row saspic
index tit1
row coop
index tit1
row defect
index tit1
row tit1
index tit1
row tit0
index tit1
row saspic
index tit0
row coop
index tit0
row defect
index tit0
row tit1
index tit0
row tit0
index tit0
row saspic
index saspic
row coop
index saspic
row defect
index saspic
row tit1
index saspic
row tit0
index saspic
row saspic

In [47]:
df

       coop defect tit1 tit0 saspic
coop     CC    NaN  NaN  NaN    NaN
defect  NaN    NaN  NaN  NaN    NaN
tit1    NaN    NaN  NaN  NaN    NaN
tit0    NaN    NaN  NaN  NaN    NaN
saspic  NaN    NaN  NaN  NaN    NaN